<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="name"        default="rsu"/>

    <!-- Launch file constants -->
    <arg name="map_file"    value="$(find svea_core)/maps/sml.yaml" />

    <!-- Publish map -->
    <node name="map_server" pkg="map_server" type="map_server"
          args="$(arg map_file)"
          output="screen" />

    <!-- Start ABConnect -->
    <include file="$(find ros_abconnect)/launch/abconnect.launch">
        <arg name="host"        value="wss://intelligent-cluster-manager.herokuapp.com/signal"/>
        <arg name="name"        value="rsu"/>
        <arg name="category"    value="video"/>
        <arg name="start_delay" value="3"/>
    </include>

    <!-- Start geofence for Start Area -->
    <include file="$(find city_lmpc)/launch/geofence.launch">
        <arg name="name"           value="geofence_start"/>
        <arg name="box"            value="[-2.00, +1.50, -1.00, +2.50]"/>
        <arg name="state"          value="/abconnect/obs/state"/>
        <arg name="trigger_rate"   value="4"/>
    </include>

    <!-- Start geofence for Crash Area -->
    <include file="$(find city_lmpc)/launch/geofence.launch">
        <arg name="name"           value="geofence_crash"/>
        <arg name="box"            value="[+0.00, -0.50, +1.00, +0.50]"/>
        <arg name="state"          value="/abconnect/obs/state"/>
        <arg name="trigger_rate"   value="4"/>
    </include>

    <!-- Start RSU -->
    <node ns="$(arg name)" name="$(arg name)" pkg="city_lmpc" type="rsu_demo.py" output="screen">
        <rosparam subst_value="true" >
            demo_scenario: 0
            track: arcs
            s0: [-1.833, +2.299, +0.00]
            vehicle_list:
            - [obs, true]
            - [ego, true]
            - [onc, false]
        </rosparam>
    </node>

</launch>
