<?xml version="1.0"?>
<launch>

    <!-- Launch file constants -->
    <arg name="map_file" value="$(find svea_core)/resources/maps/floor2.yaml" />

    <!-- Publish map -->
    <node name="map_server" pkg="map_server" type="map_server"
          args="$(arg map_file)"
          output="screen" />

    <!-- Start sim -->
    <group ns="svea1">
        <node name="track_sim" pkg="city_lmpc" type="track_sim.py"
          output="screen">
        <rosparam>
            flipped_track: false
            lane: right

            # Coordinates for starting from the middle of floor2
            # s0: [6.640, 6.217, -2.14]

            # Coordinates for starting next to the bend closes to project course rooms
            s0: [-0.848, -4.969, -2.14]
        </rosparam>
        </node>
    </group>

    <group if="$(eval False)" ns="svea2">
        <node name="track_sim" pkg="city_lmpc" type="track_sim.py"
          output="screen">
        <rosparam>
            lane: center
            # Coordinates for starting from the middle of floor2
            s0: [6.640, 6.217, 0.97]
            # # Coordinates for starting next to the bend closes to project course rooms
            # s0: [-0.848, -4.969, 0.97]
            # Coordinate
        </rosparam>
        </node>
    </group>

</launch>

