<?xml version="1.0"?>
<launch>

    <!-- Launch file constants -->
    <arg name="map_file" value="$(find svea_core)/resources/maps/floor2.yaml" />
    <arg name="name" value="onc"/>

    <group ns="$(arg name)">

        <!-- Start low-level interface -->
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="250000"/>
        </node>

        <!-- Start localization -->
        <include file="$(find svea_sensors)/launch/localize.launch">
            <arg name="use_rs" value="true"/>
            <arg name="file_name" value="$(arg map_file)"/>
        </include>

        <!-- Start EGO -->
        <node name="$(arg name)" pkg="city_lmpc" type="svea_demo.py" output="screen">
            <param name="name" value="$(arg name)"/>

            <param if="$(eval name == 'obs')" type="yaml"
                   name="x0" value="[-1.231154, -4.823781, 0, -2.187058]"/>

            <param if="$(eval name == 'ego')" type="yaml"
                   name="x0" value="[-0.420923, -3.558500, 0, -2.226794]"/>

            <param if="$(eval name == 'onc')" type="yaml"
                   name="x0" value="[-8.906381, -6.965906, 0, 1.048941]"/>
        </node>

    </group>

</launch>
