<?xml version="1.0"?>
<launch>

    <arg name="n"/>

    <arg name="name"                default="$(env HOSTNAME)"/>
    <arg name="master"              default="debby"/>
    <arg name="clients"             default="debby pi2 svea5"/>
    <arg name="start_rosbridge"     default="true"/>
    <arg name="rosbridge_port"      default="9090"/>

    <param name="master"    value="debby"/>
    <param name="name"      value="$(arg name)"/>
    <param name="clients"   value="$(eval ' '.join(clients.split()[:n+1]))"/>

    <!-- Start rosbridge -->
    <include if="$(arg start_rosbridge)"
             file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg rosbridge_port)"/>
    </include>

    <group ns="abconnect">
        <!-- Start abconnect -->
        <node name="streamer" pkg="aliencontrol" type="aliencontrol.py" output="screen">
            <param name="delay" value="3"/>
            <param name="cmd" value="node index.js $(arg n) $(arg clients)"/>
            <param name="cwd" value="$(find ros_abconnect)/streamer"/>
        </node>
    </group>

</launch>
