<?xml version="1.0"?>
<launch>

    <arg name="n"/>

    <include file="$(dirname)/ABConnect.launch">
        <arg name="n" value="$(arg n)"/>
    </include>

    <rosparam>
        init_pos:  # [m]
          - 30
        targ_vel:  # [m/s]
          - 5
          - 10
          - 20
        time_step: # [s]
          - 0.1
        data_size: # [kB]
          - 0.5
          - 1
          - 2
          - 4
          - 8
          - 16
          - 24
          - 42
          # - 100
          # - 1000
        data_freq: # [Hz]
          - 10
          - 20
          - 30
          - 40
        comp_time: # [s]
          - 0.1
          - 0.2
          - 0.4
          - 0.8
          - 1.2
        comp_ordr: # unitless
          - 0
          - 1
          - 2
    </rosparam>
    <param name="log_dir" value="$(find wp3_tests)/log"/>

    <node name="master" pkg="wp3_tests" type="MasterP2P.py" output="screen"/>

</launch>
