<?xml version="1.0"?>
<launch>
    <!-- Meta Data -->
    <rosparam>
        name: debby
        master: debby
        clients: [debby, svea2, svea5]
    </rosparam>

    <!-- ABConnect Wrapper -->
    <include file="$(find ros_abconnect)/launch/abconnect.launch">
        <arg name="host" value="wss://intelligent-cluster-manager.herokuapp.com/signal"/>
        <arg name="name" value="debby"/>
        <arg name="category" value="device"/>
        <arg name="start_delay" value="5"/>
    </include>

    <!-- ABConnect Connectors -->
    <node name="ros_abconnect__add_remote_topic__c6bc7b840acf4ce6b37c6ce7f6d069d3" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea2
            id: 0
            topic: transition
            type: std_msgs/String
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__b5924962efe14c25a7a5a700f2f4ed10" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea5
            id: 1
            topic: transition
            type: std_msgs/String
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__96a53092d38c4819ad6bbe006eeb11ab" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea2
            id: 2
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__93e16aed551e4fae8a03cbbb24510a30" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea5
            id: 5
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
</launch>