<?xml version="1.0"?>
<launch>
    <!-- Meta Data -->
    <rosparam>
        name: svea2
        master: debby
        clients: [debby, svea2, svea5]
    </rosparam>

    <!-- ABConnect Wrapper -->
    <include file="$(find ros_abconnect)/launch/abconnect.launch">
        <arg name="host" value="wss://intelligent-cluster-manager.herokuapp.com/signal"/>
        <arg name="name" value="svea2"/>
        <arg name="category" value="device"/>
        <arg name="start_delay" value="5"/>
    </include>

    <!-- ABConnect Connectors -->
    <node name="ros_abconnect__add_remote_topic__c9d869caabf342f8884aa7161eb0fd17" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: debby
            id: 0
            topic: start
            type: std_msgs/Empty
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__8b83e625631e4869954de06c47c9963c" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea2
            id: 2
            topic: outgoing
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__52e2efb105ab422f999d14a92765b35a" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea2
            id: 2
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__e61fac170f2b4113a02fdc24f901693a" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea5
            id: 3
            topic: outgoing
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__5138cb1ac89249a3aa983d3d5ea6ef78" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea5
            id: 4
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
</launch>