<?xml version="1.0"?>
<launch>
    <!-- Meta Data -->
    <rosparam>
        name: svea2
        master: debby
        clients: [debby, svea2, svea5]
    </rosparam>

    <!-- ABConnect Wrapper -->
    <include file="$(find ros_abconnect)/launch/abconnect.launch">
        <arg name="host" value="wss://intelligent-cluster-manager.herokuapp.com/signal"/>
        <arg name="name" value="svea2"/>
        <arg name="category" value="device"/>
        <arg name="start_delay" value="5"/>
    </include>

    <!-- ABConnect Connectors -->
    <node name="ros_abconnect__add_remote_topic__2a428e485cd648379e76cb16ac4208ca" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: debby
            id: 0
            topic: master
            type: std_msgs/String
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__aba809ed5a1d47c2b4fd43475718c611" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: debby
            id: 2
            topic: outgoing
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__f018fb1d7ffd42e989a429859627ed36" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea2
            id: 3
            topic: outgoing
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__60362216d1e94911b911966e1512c4d2" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea2
            id: 3
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__9abb9af24364471ba5afb19a3d6b824d" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: publisher
            client: svea5
            id: 4
            topic: outgoing
            type: wp3_tests/Packet
        </rosparam>
    </node>
    <node name="ros_abconnect__add_remote_topic__53f8960c680f44cd8ae64766471edc9c" pkg="ros_abconnect" type="add_remote_topic.py" output="screen">
        <rosparam>
            role: subscriber
            client: svea5
            id: 6
            topic: incoming
            type: wp3_tests/Packet
        </rosparam>
    </node>
</launch>